<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Hello</h1>
    <form action="/turnledon" method="post">
      <button name="submit" value="12">1936: Mussolini sends aid to General Franco of Spain</button>
    </form>
    <form action="/turnledon" method="post">
      <button name="submit" value="11&10">1940: Italy declares war on Britain and France at The Piazza Venezia in Rome</button>
    </form>
    <form action="/turnledon" method="post">
      <button name="submit" value="9">1902: Mussolini in Switzerland</button>
    </form>
    <form action="/turnledon" method="post">
      <button name="submit" value="8">1939: The Pact of Steel is signed</button>
    </form>
    <form action="/turnledon" method="post">
      <button name="submit" value="7">1945: Mussolin captured and executed at Lake Como</button>
    </form>
    <form action="/turnledon" method="post">
      <button name="submit" value="6">1912: Mussolini returns to Italy and becomes editor of the newspaper Avanti!</button>
    </form>
    <form action="/turnledon" method="post">
      <button name="submit" value="6.1">1919: Mussolini founded Italy's fascist movement.
      </button>
    </form>
    <form action="/turnledon" method="post">
      <button name="submit" value="6.2">1922: March on Rome</button>
    </form>
    <form action="/turnledon" method="post">
      <button name="submit" value="6.3">1925: Mussolini asserts himself as dictator at The Piazza Venezia in Rome</button>
    </form>
    <form action="/turnledon" method="post">
      <button name="submit" value="6.4">1929: Lateran Pact signed in The Lateran Palace in Rome</button>
    </form>
    <form action="/turnledon" method="post">
      <button name="submit" value="5">1883: Mussolini was born in Predappio, Italy</button>
    </form>
    <form action="/turnledon" method="post">
      <button name="submit" value="4">1909: Mussolini moves to Austria-Hungary</button>
    </form>
    <form action="/turnledon" method="post">
      <button name="submit" value="3">1935: Italy invades Abyssiania</button>
    </form>
    <script src="client.js" async defer></script>
  </body>
</html>
