<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <script src="client.js" async defer></script>
    <h1>A Timeline of Benito Mussolini's Life</h1>
    <div class="timeline">
      <div class="container left">
        <div class="content">
          <h2>1883</h2>
          <p>Mussolini is born in Predappio, Italy</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="5">
              See More
            </button>
          </form>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>1902</h2>
          <p>Mussolini moves to Switzerland</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="9">See More</button>
          </form>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <h2>1909</h2>
          <p>Mussolini moves to Austria-Hungary</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="4">
              See More
            </button>
          </form>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>1912</h2>
          <p>Mussolini returns to Italy and becomes editor of the newspaper
            Avanti!</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="6">
              See More
            </button>
          </form>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <h2>1919</h2>
          <p>Mussolini founded Italy's fascist movement</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="6.1">
              See More
            </button>
          </form>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>1922</h2>
          <p>Mussolini leads the March on Rome</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="6.2">See More</button>
          </form>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <h2>1925</h2>
          <p>Mussolini asserts himself as dictator</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="6.3">
              See More
            </button>
          </form>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>1929</h2>
          <p>Mussolini signs the Lateran Pact</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="6.4">
              See More
            </button>
          </form>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <h2>1935</h2>
          <p>Italy invades Abyssiania</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="3">See More</button>
          </form>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>1936</h2>
          <p>Mussolini sends aid to the General Franco of Spain</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="12">
              See More
            </button>
          </form>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <h2>1939</h2>
          <p>Mussolini signs the Pact of Steel</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="8">See More</button>
          </form>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>1940</h2>
          <p>Italy declares war on Britain and France</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="11&10">
              See More
            </button>
          </form>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <h2>1945</h2>
          <p>Mussolini is captured and executed at Lake Como</p>
          <form action="/turnledon" method="post">
            <button name="submit" value="7">
              See More
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
