* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');

/* Set a background color */
body {
  background-color: #ffffff;
  font-family: Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: "Baloo Tamma 2", cursive;
    width: 100%;
    color: #fff;
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: -1px -1px 0px #21f360, 3px 3px 0px #b86363, 6px 6px 0px #39be61;
  }

div {
    line-height: 2;
    width: 80%;
    margin: auto;
}

#imagecontainer {
    text-align: center;
}

img {
    width: 50%;
    max-width: 300px;
}